* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(75, 37, 37);
}

.main {
  background-color: rgb(143, 77, 77);;
  width: 800px;
  height: 450px;
  position: absolute;
  left: 25%;
  right: 30%;
  top: 15%;
  border-radius: 15px;
  box-shadow: 2px, 2px, 2px rgb(143,77,77);;
}

.main img {
  justify-content: left;
  height: 430px;
  width: 400px;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 10px;
  box-shadow: 2px, 2px, 2px rgb(143,77,77);
}

.login {
  position: absolute;
  left: 55%;
  top: 10%;
}

.forms {
  display: flex;
  gap: 10px;
}
.forms input {
  width: 140px;
  height: 30px;
  background-color: rgb(143,77,77);
  color: white;
  font-size: 15px;
  border-radius: 8px;
}

.forms input::placeholder {
  color: white;
  font-size: 15px;
  padding: 10px;
}

.vert {
  position: relative;
  top: 10px;
}

.vert input {
  width: 293px;
  height: 30px;
  background-color: rgb(143,77,77);
  color: white;
  font-size: 15px;
  border-radius: 8px;
}

.vert input::placeholder {
  color: white;
  font-size: 15px;
  padding: 10px;
}

.email{
  margin-bottom: 20px;
}

.tick {
  display: flex;
  position: relative;
  top: 20px;
}

.tick input {
  width: 20px;
  height: 20px;
}

.tick h5 {
  position: relative;
  left: 15px;
}

.button {
  display: inline-block;
  font-weight: 500px;
  border-radius: 5px;
  width: 295px;
  height: 30px;
  background-color: rgb(75, 37, 37);
  color: white;
  font-size: 15px;
}