{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The 404 Schools </title>
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
    <div class="signup-container">
        <form class="signup-form" id="signupForm" method="post" action="{% url 'createaccount' %}">
          {% csrf_token  %}
            <h2>Welcome 👋</h2>
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" required>
            </div>
            <div class="input-group">
              <label for="surname">Last Name</label>
              <input type="text" name="surname" required>
            </div>
            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="togglePassword">👁️</button>
                </div>
            </div>
            <button type="submit" class="signup-btn">Register</button>

            <div class="checkbox-group">
                <input type="checkbox" id="terms" required>
                <label for="terms">I agree to the <a href="#">terms and conditions</a></label>
            </div>
            <div class="loader" id="loader"></div>
            <p class="signup-text">Have an account already? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>

    <script src="{% static 'createaccount.js' %}"></script>
</body>
</html>