{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'userlogin.css' %}">
    <title>Login 404 Schools</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form" id="loginForm" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Welcome Back 👋</h2>
            <div class="input-group">
                <label for="email">Reg Number</label>
                <input type="text" id="email" name="reg_num" required>
            </div>
            <div class="input-group">
                <label for="password">Access Code</label>
                <div class="password-wrapper">
                    <input type="password" id="password" name="accesscode" required>
                    <button type="button" id="togglePassword">👁️</button>
                </div>
            </div>
            <button type="submit" class="login-btn">Login</button>
            <div class="loader" id="loader"></div>
            <p class="signup-text">Don't have an account? <a href="{% url 'createaccount' %}">Sign up</a></p>
        </form>
    </div>

    <script src="{% static 'userlogin.js' %}"></script>

</body>
</html>
