{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
<link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="main">
    <img src="{% static 'redlogo.jpg' %}" alt="image">
    <div class="login">
      <h1>Login to your account</h1><br>
      <h5>Don't have an account <a href="#">create account</a></h5>
      <br>
      <br>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="vert">
          <input class="email" name="reg_num" placeholder="Registration Number"/>
          <input type="text" name="accesscode" placeholder="Access Code"/>
          <div class="tick">
            <input type="checkbox" name="check"/>
            <h5>I agree to the <a href="#">Terms and Conditions</a></h5>
          </div>
        </div>
        <br>
        <br><br>
        <input class="button" type="submit" value="Login"/>
      </form>
    </div>
  </div>
  <!-- ✅ Messages block goes here -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<!-- ✅ End of messages block -->
</body>
</html>